<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reporting.Properties.Settings.MRPConnectionString"
            connectionString="Data Source=DEV764\SQLEXPRESS2012DV;Initial Catalog=MRP;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="Reporting.Properties.Settings.ERPConnectionString"
            connectionString="Data Source=DEV764\SQLEXPRESS2012DV;Initial Catalog=DateMaster;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>